@reference "tailwindcss";
/* Imports definitions only; doesn't emit CSS */

@layer {
    .darkModeButton {
        @apply text-white bg-white/5 backdrop-blur-sm rounded-full border border-white/10 enabled:hover:bg-white/20 disabled:opacity-50 disabled:cursor-not-allowed
    }

    .gradientButton {
        @apply bg-linear-to-br from-primary-start to-primary-end;
        background-size: 350% 100%;
        Transition: all .4s ease-in-out;
    }

    .gradientButton:hover {
        background-position: 100% 0;
    }
}